body {
  text-align: center;
  background-color: #fff5db;
  color: #8d3705;
}

.croissant {
  max-width: 300px;
  border-radius: 5px;
}

a {
  color: #f3ad61;
  font-weight: bold;
}

.primary-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
